<html lang="en">
  <head>
    <style>
      .button {
        background-color: #000000;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .button:hover {
      background-color: #FFFFFF;
      color: black;
      }
    </style>
  </head>
  <body style="background-color:powderblue;">
    <h1>Demo Website Home Page</h1>
    <a href="http://localhost:5000/register" class="button">Sign Up</a>
    <a href="http://localhost:5000/login" class="button">Login</a>
  </body>
</html>

