<html lang="en">
	<head>
        <style>
          .button {
            background-color: #000000;
            border: none;
            color: white;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
          }
          .button:hover {
          background-color: #FFFFFF;
          color: black;
          }
        </style>
    </head>
	<body style="background-color:powderblue;">
		<h1>Login was successful! Welcome back, {{name}}!</h1>
        <a href="http://localhost:5000" class="button">Log Out</a>
	</body>
</html>
